{% extends "base.html.twig" %}

{% block body %}
  <h1>Films</h1>
  <ul>
    {% for film in films %}
    <li>
      <a href="/episode-{{ film.episodeID }}">Episode {{ film.episodeID }}:  {{ film.title }}</a>
    </li>
    {% endfor %}
  </ul>

  <hr />
  <h3>Powered by SWAPI: The Starwars API</h3>
  <img src="/img/swapi.png" class="mb-4" />
  <h6>Links</h6>
  <ul>
    <li><a href="https://swapi.dev/" target="_blank">swapi.dev</a></li>
    <li><a href="https://graphql.org/swapi-graphql/" target="_blank">swapi-graphql</a></li>
    
  </ul>
{% endblock %}
